In [16]:
from datascience import *
import numpy as np

In [65]:
def categories(arr, dj=False):
    t = Table()
    if not dj:
        for i in np.arange(len(arr)):
            t = t.with_column(arr.item(i), np.arange(200, 1001, 200))
    else:
        for i in np.arange(len(arr)):
            t = t.with_column(arr.item(i), np.arange(400, 2001, 400))
    return t

In [69]:
cat = make_array('Cat A', 'Cat B', 'Cat C')
cats= categories(cat)
cats
cats2 = categories(cat, dj=True)
cats2

Cat A | Cat B | Cat C
400   | 400   | 400
800   | 800   | 800
1200  | 1200  | 1200
1600  | 1600  | 1600
2000  | 2000  | 2000

In [6]:
a = np.arange(10)
a[2] = 3
a

array([0, 1, 3, 3, 4, 5, 6, 7, 8, 9])

In [22]:
questions = Table().with_columns(
    'price', np.arange(200, 1001, 200),
    'Cat A', np.arange(5),
    'Cat B', np.arange(5),
    'Cat C', np.arange(5)
)
questions

questions.column(1)[2] = 3
questions

price | Cat A | Cat B | Cat C
200   | 0     | 0     | 0
400   | 1     | 1     | 1
600   | 3     | 2     | 2
800   | 3     | 3     | 3
1000  | 4     | 4     | 4

In [19]:
dj=False
if not dj:
    price_indices = Table().with_columns(
        'price', make_array(200, 400, 600, 800, 1000),
        'index', np.arange(5)
    )
price_indices

price | index
200   | 0
400   | 1
600   | 2
800   | 3
1000  | 4

In [63]:
def get_answer(qs, cats, cat, price, dj=False):
    '''qs = a table containing a column with price and a column for each category containing questions
    cats = a table containing the categories as column labels and the prices in the columns
    cat = the category chosen
    price = the price chosen
    dj = bool; double jeopardy True or False'''
    if not dj:
        price_indices = Table().with_columns(
            'price', make_array(200, 400, 600, 800, 1000),
            'index', np.arange(5)
        )
        price_index = price_indices.where(0, price).column(1).item(0)
        cats.column(cat)[price_index] = 0
        print(qs.column(cat)[price_index])
    else:
        price_indices = Table().with_columns(
            'price', np.arange(400, 2001, 400),
            'index', np.arange(5)
        )
        price_index = price_indices.where(0, price).column(1).item(0)
        cats.column(cat)[price_index] = 0
        print(qs.column(cat)[price_index])
    return cats

In [77]:
def s_or_dj(dj=False):
    if not dj:
        return False
    else:
        return True
    
    
def begin_jeopardy(cats_arr, )

In [79]:
dj = begin_jeopardy()

In [ ]:
# daily doubles!!!

In [83]:
cats_07_22_08 = make_array('EDGAR ALLEN POE-POURRI', 'HOP ON POP CULTURE', 'RINGING THE OPENING BELL AT THE NYSE', 'NEBRASKA, NEW YORK OR NORTH DAKOTA', 'MOTHER GOOSE', "DEPARTMENT 'S'")
board = categories(cats_07_22_08)
dj = s_or_dj()

EDGAR ALLEN POE-POURRI | HOP ON POP CULTURE | RINGING THE OPENING BELL AT THE NYSE | NEBRASKA, NEW YORK OR NORTH DAKOTA | MOTHER GOOSE | DEPARTMENT 'S'
200                    | 200                | 200                                  | 200                                | 200          | 200
400                    | 400                | 400                                  | 400                                | 400          | 400
600                    | 600                | 600                                  | 600                                | 600          | 600
800                    | 800                | 800                                  | 800                                | 800          | 800
1000                   | 1000               | 1000                                 | 1000                               | 1000         | 1000