In [9]:
using Pandas, Statistics, PyPlot, Seaborn, ScikitLearn, DataFrames

In [14]:
read_csv("who_suicide.csv")

                    country  year     sex          age  suicides_no  population
0                   Albania  1985  female  15-24 years          NaN    277900.0
1                   Albania  1985  female  25-34 years          NaN    246800.0
2                   Albania  1985  female  35-54 years          NaN    267500.0
3                   Albania  1985  female   5-14 years          NaN    298300.0
4                   Albania  1985  female  55-74 years          NaN    138700.0
5                   Albania  1985  female    75+ years          NaN     34200.0
6                   Albania  1985    male  15-24 years          NaN    301400.0
7                   Albania  1985    male  25-34 years          NaN    264200.0
8                   Albania  1985    male  35-54 years          NaN    296700.0
9                   Albania  1985    male   5-14 years          NaN    325800.0
10                  Albania  1985    male  55-74 years          NaN    132500.0
11                  Albania  1985    male    75+ years          NaN     21100.0
12                  Albania  1986  female  15-24 years          NaN    283900.0
13                  Albania  1986  female  25-34 years          NaN    252100.0
14                  Albania  1986  female  35-54 years          NaN    273200.0
15                  Albania  1986  female   5-14 years          NaN    304700.0
16                  Albania  1986  female  55-74 years          NaN    141700.0
17                  Albania  1986  female    75+ years          NaN     34900.0
18                  Albania  1986    male  15-24 years          NaN    306700.0
19                  Albania  1986    male  25-34 years          NaN    269000.0
20                  Albania  1986    male  35-54 years          NaN    302000.0
21                  Albania  1986    male   5-14 years          NaN    331600.0
22                  Albania  1986    male  55-74 years          NaN    134800.0
23                  Albania  1986    male    75+ years          NaN     21400.0
24                  Albania  1987  female  15-24 years         14.0    289700.0
25                  Albania  1987  female  25-34 years          4.0    257200.0
26                  Albania  1987  female  35-54 years          6.0    278800.0
27                  Albania  1987  female   5-14 years          0.0    311000.0
28                  Albania  1987  female  55-74 years          0.0    144600.0
29                  Albania  1987  female    75+ years          1.0     35600.0
...                     ...   ...     ...          ...          ...         ...
43746  Virgin Islands (USA)  2012    male  15-24 years          2.0      6663.0
43747  Virgin Islands (USA)  2012    male  25-34 years          2.0      5061.0
43748  Virgin Islands (USA)  2012    male  35-54 years          2.0     13542.0
43749  Virgin Islands (USA)  2012    male   5-14 years          0.0      7334.0
43750  Virgin Islands (USA)  2012    male  55-74 years          0.0     11957.0
43751  Virgin Islands (USA)  2012    male    75+ years          0.0      2135.0
43752  Virgin Islands (USA)  2015  female  15-24 years          0.0      6675.0
43753  Virgin Islands (USA)  2015  female  25-34 years          0.0      5662.0
43754  Virgin Islands (USA)  2015  female  35-54 years          0.0     14278.0
43755  Virgin Islands (USA)  2015  female   5-14 years          0.0      7099.0
43756  Virgin Islands (USA)  2015  female  55-74 years          0.0     14269.0
43757  Virgin Islands (USA)  2015  female    75+ years          0.0      3508.0
43758  Virgin Islands (USA)  2015    male  15-24 years          0.0      6933.0
43759  Virgin Islands (USA)  2015    male  25-34 years          2.0      4609.0
43760  Virgin Islands (USA)  2015    male  35-54 years          1.0     12516.0
43761  Virgin Islands (USA)  2015    male   5-14 years          0.0      7291.0
43762  Virgin Islands (USA)  2015    male  55-74 years          0.0     12615.0
43763  Virgin Islands (USA)  2015    male    75+ years          0.0      2496.0
43764              Zimbabwe  1990  female  15-24 years        124.0         NaN
43765              Zimbabwe  1990  female  25-34 years         59.0         NaN
43766              Zimbabwe  1990  female  35-54 years         45.0         NaN
43767              Zimbabwe  1990  female   5-14 years          6.0         NaN
43768              Zimbabwe  1990  female  55-74 years         20.0         NaN
43769              Zimbabwe  1990  female    75+ years          3.0         NaN
43770              Zimbabwe  1990    male  15-24 years        132.0         NaN
43771              Zimbabwe  1990    male  25-34 years        150.0         NaN
43772              Zimbabwe  1990    male  35-54 years        132.0         NaN
43773              Zimbabwe  1990    male   5-14 years          6.0         NaN
43774              Zimbabwe  1990    male  55-74 years         74.0         NaN
43775              Zimbabwe  1990    male    75+ years         13.0         NaN

[43776 rows x 6 columns]